
/* reset */
body, ul {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Carter One', cursive;
    color:beige;
    font-size: 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #222;
}

.clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}

.wrapper {
    width : 800px;
    margin : 100px auto;
}

.sq {
    background-color: #111;
    color: white;
    padding :1rem;
}

.sq-item {
    float: left;
    width: 25%;
    padding-top : 25%;
    position: relative;
    
}

.sq-item-large {
    width: 50%;
    padding-top: 50%;
}

.sq-item-hi {
    max-height: 100%;
}

.sq-item-wi {
    max-width: 100%;
}

.sq-item-long {
    padding-top: 75%;
}

.sq-item-float-right {
    float: right;
}

.sq-item-wide {
    width: 50%;
}

.sq-item-anchor {
    background-color: orange;
    position: absolute;
    left: 0;
    right : 0;
    top: 0;
    bottom: 0;
    margin: 0.35rem;
    padding: 2rem;
    font-size: 1.5rem;
    overflow: hidden;
    opacity: 0.5;
    font-family: 'Carter One', cursive;
    border-radius: 10px;
    transition: all .3s;
    border: 0 solid white;
}

.sq-item-anchor::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index: 10;
}

.sq-item-anchor:hover {
    margin: -1.5rem;
    z-index: 30;
    border: 10px solid white;
    border-width: 10px;
    opacity: 1;
    font-size: 2rem;
    box-shadow: 0 0 20px 20px rgba(0,0,0,5);
}

.sq-item-anchor-cover {
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
}
.sq-item-anchor-title {
    position: relative;
    z-index: 20;
}